{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    {% include 'navbar-with-search.html' %}
    <main>
        <table>
            <tr>
                <th>Intersection Name</th>
                <th>Province</th>
                <th>Status</th>
                <th>Date Added</th>
                <th>Date Modified</th>
                <th>Uploaded By</th>
                <th>View</th>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
        </table>
    </main>

</body>
</html>