{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav>
        <div class="home-dashboard">
            <a href="" id="home-icon"><img src="{% static 'img/home.svg' %}" alt=""><label>Home</label></a>
            <a href=""><img src="{% static 'img/team_dashboard.svg' %}" alt=""><label>Dashboard</label></a>
            <input type="text" name="search" id="">
        </div>
        

        <div class="profile-anchor">
            <a href="" class=""><img src="{% static 'img/account_circle.svg' %}" alt=""><label>Profile</label></a>
        </div>
    </nav>
</body>
</html>