body{
    transition: background-color 0.5s ease;
}

form{
    margin-bottom:20px ;
}

input[type="radio"]
{
    margin-bottom: 10px;
}

main{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem 1rem;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.25rem;
    position: fixed;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

main p {
    text-align: center;
}
