{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script>
        function changeBackgroundColor(color)
        {
            document.body.style.backgroundColor = color;
        }
    </script>
</head>
<body>
    {% include 'main/navbar-with-search.html' %}
    <from>
        <input type="radio" name="color" value="Tomato" onclick="changeBackgroundColor('Tomato')">Tomato
        <input type="radio" name="color" value="Orange" onclick="changeBackgroundColor('Orange')">Orange
        <input type="radio" name="color" value="DodgerBlue" onclick="changeBackgroundColor('DodgerBlue')">DodgerBlue
        <input type="radio" name="color" value="MediumSeaGreen" onclick="changeBackgroundColor('MediumSeaGreen')">MediumSeaGreen
        <input type="radio" name="color" value="Gray" onclick="changeBackgroundColor('Gray')">Gray
        <input type="radio" name="color" value="SlateBlue" onclick="changeBackgroundColor('SlateBlue')">SlateBlue
        <input type="radio" name="color" value="Violet" onclick="changeBackgroundColor('Violet')">Violet
        <input type="radio" name="color" value="LightGray" onclick="changeBackgroundColor('LightGray')">LightGray
    </from>
    <main>
        <table>
            <tr>
                <th>Intersection Name</th>
                <th>Province</th>
                <th>Status</th>
                <th>Date Added</th>
                <th>Date Modified</th>
                <th>Uploaded By</th>
                <th>View</th>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
        </table>
    </main>

</body>
</html>