{% extends 'main/base.html' %}

{% load static %}
{% block title %}dashboard{% endblock title %}dashboard

{% block extra_head %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> {% endcomment %}
{% endblock extra_head %}

{% block navbar %}
    {% include 'main/navbar-with-search.html' %}
{% endblock navbar %}

{% block body %}
    <main class="container mt-2">
        <div class="card border-0">
            <a href="{% url 'upload_video' %}" class="btn btn-success col-1 align-self-end text-nowrap">Upload</a>

            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>Intersection Name</th>
                            <th>Province</th>
                            <th>Status</th>
                            <th>Date Added</th>
                            <th>Date Modified</th>
                            <th>Uploaded By</th>
                            <th>Process</th>
                            <th>Dectection</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider align-middle">
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.intersection_name }}</td>
                                <td>{{ task.province }}</td>
                                <td>status</td>
                                <td>{{ task.date_created }}</td>
                                <td>{{ task.date_modified }}</td>
                                <td>{{ task.uploaded_by }}</td>
                                <td><a href="{% url 'task_info' id=task.id %}" class="btn btn-primary">Process</a></td>
                                <td><a href="{% url 'process_info' id=task.id %}" class="btn btn-primary">View Result</a></td>
                                <td><a href="{% url 'delete_task' id=task.id %}" class="btn btn-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock body %}




