{% extends 'main/base.html' %}

{% load static %}
{% block title %}dashboard{% endblock title %}dashboard

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script>
        function changeBackgroundColor(color)
        {
            document.body.style.backgroundColor = color;
        }
    </script>
{% endblock extra_head %}

{% block body %}
    {% include 'main/navbar-with-search.html' %}
    <form>
        <input type="radio" name="color" value="Tomato" onclick="changeBackgroundColor('Tomato')">Tomato
        <input type="radio" name="color" value="Orange" onclick="changeBackgroundColor('Orange')">Orange
        <input type="radio" name="color" value="DodgerBlue" onclick="changeBackgroundColor('DodgerBlue')">DodgerBlue
        <input type="radio" name="color" value="MediumSeaGreen" onclick="changeBackgroundColor('MediumSeaGreen')">MediumSeaGreen
        <input type="radio" name="color" value="Gray" onclick="changeBackgroundColor('Gray')">Gray
        <input type="radio" name="color" value="SlateBlue" onclick="changeBackgroundColor('SlateBlue')">SlateBlue
        <input type="radio" name="color" value="Violet" onclick="changeBackgroundColor('Violet')">Violet
        <input type="radio" name="color" value="LightGray" onclick="changeBackgroundColor('LightGray')">LightGray
    </form>
    <main>
        <p><a href="{% url 'upload_video' %}">Upload New Video</a></p>
        <table>
            <tr>
                <th>Intersection Name</th>
                <th>Province</th>
                <th>Status</th>
                <th>Date Added</th>
                <th>Date Modified</th>
                <th>Uploaded By</th>
                <th>View</th>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td><button>View</button></td>
            </tr>
        </table>
    </main>
{% endblock body %}




