{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav>
        <div class="home-dashboard">
            <a href="{% url 'dashboard' %}" id="home-icon"><img src="{% static 'img/home.svg' %}" alt=""></a>
            {% comment %} <a href="{% url 'dashboard' %}"><img src="{% static 'img/team_dashboard.svg' %}" alt=""><label>Dashboard</label></a> {% endcomment %}
            <input type="search" name="search" id="" placeholder="type traffic here">
        </div>
        

        <div class="profile-container">
            <img src="{% static 'img/account_circle.svg' %}" id="account_circle">
            <div class='drop-down-content'>
                <a href="{% url 'profile' %}" class="drop-down-item">My Profile</a>
                <a href="{% url 'logout' %}" class="drop-down-item">Logout</a>
            </div>
        </div>
    </nav>
</body>
</html>