{% extends 'main/base.html' %}
{% load static %}

{% block title %}Task info{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<style>
    #image-container {
        position: relative;
    }

</style>
{% endblock extra_head %}

{% block body %}
    {% include 'main/navbar-with-search.html' %}
    <ul>
        <li>intersection: {{ task.intersection_name }}</li>
        <li>province: {{ task.province}}</li>
        <li>date created: {{ task.date_created }}</li>
        <li>date modified: {{ task.date_modified }}</li>
        <li>upload by: {{ task.uploaded_by }}</li>
    </ul>
    
    <video width="640" height="360" controls>
        <source src="{{ vdo_path }}" type="video/mp4">
    </video>
    
{% endblock body %}