{% extends 'main/base.html' %}
{% load static %}

{% block title %}Task info{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<style>
    #video-container {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 500px;
        
    }
    table,th,td { 
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
        margin-left: 20px;
    }
    
</style>
{% endblock extra_head %}

{% block body %}
    {% include 'main/navbar-with-search.html' %}
    <ul>
        <li>intersection: {{ task.intersection_name }}</li>
        <li>province: {{ task.province}}</li>
        <li>date created: {{ task.date_created }}</li>
        <li>date modified: {{ task.date_modified }}</li>
        <li>upload by: {{ task.uploaded_by }}</li>
    </ul>
    <div id="video-container">
        <video width="640" height="360" controls>
            <source src="{{ process.detected_vdo.url }}" type="video/mp4">
        </video>

        <div class="data_process">
            <table>
                <tr>
                    <th>Road</th>
                    <th>Count</th>
                </tr>
                {% for key, value in data.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    
    


{% endblock body %}